<?xml version="1.0" encoding="UTF-8"?>
<!-- Derechos de autor (C) 2026 Alberto Avidad Fernández. -->
<!-- Autoría: Alberto Avidad Fernández -->
<!-- Licencia: EUPL 1.2 o posterior -->
<!-- SPDX-License-Identifier: EUPL-1.2 -->

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store-connect</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>__APPLE_TEAM_ID_REQUIRED__</string>
	<key>uploadSymbols</key>
	<true/>
	<key>provisioningProfiles</key>
	<dict>
		<key>__APP_BUNDLE_ID_REQUIRED__</key>
		<string>__APP_PROVISIONING_PROFILE_REQUIRED__</string>
		<key>__SHARE_BUNDLE_ID_REQUIRED__</key>
		<string>__SHARE_PROVISIONING_PROFILE_REQUIRED__</string>
	</dict>
</dict>
</plist>
